.App {
  padding: 20px;
}

.hand {
  list-style: none;
  padding: 0;
}
.hand>li {
  display: inline;
}

.hand .card {
  border: 1px solid #000;
  margin-right: 5px;
  width: 74px;
}

.user-name-and-game-id {
  text-align: right;
}
